.card {
   border: 0px solid #5a58cf;
   border-radius: 10px;
   width: 100%;
   max-width: 452px;
   box-shadow: 0 20px 40px 0 rgba(47, 47, 47, 0.2);
   background: $main-color;

   &__title,
   &__btn {
      margin-bottom: px_to_rem(24);
   }

   &__title-img {
      margin-right: 1rem;
   }

   &__description {
      font-weight: 400;
      font-size: 18px;
      line-height: 170%;
      color: $text-color_1;
      opacity: 0.9;
      margin-bottom: px_to_rem(24);
   }

   &__advantages {
      display: flex;
      flex-wrap: wrap;
      gap: px_to_rem(8);
      margin-bottom: px_to_rem(24);
   }
   &__advantage {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: px_to_rem(12);
      background: #fdf4db;
      font-weight: 600;
      font-size: px_to_rem(14);
   }
   &__advantage-text:not(:last-child) {
      margin-right: px_to_rem(8);
   }
   &__advantage-info {
      width: 11px;
      height: 11px;
   }
   &__advantage-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   &__list {
      margin-bottom: px_to_rem(40);
   }
   &__list-item {
      display: flex;
      column-gap: 8px;

      &:not(:last-child) {
         margin-bottom: 1rem;
      }
   }
   &__list-item-image > img {
      padding: 5px;
   }
   &__list-item-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
   }

   &__btn {
      background-color: $bg-color_7;
      border-radius: 5px;
      padding: px_to_rem(13) px_to_rem(22);
      color: $text-color_2;
      width: 100%;
   }

   &__price {
      text-align: center;
      font-weight: 500;
      font-size: px_to_rem(14);
      color: $text-color_1;
   }

   @media screen and (min-width: 375px) {
      padding: px_to_rem(32) px_to_rem(24);
   }

   @media screen and (min-width: 992px) {
      padding: px_to_rem(48);
   }
}
