.card {
   border: 0px solid #5a58cf;
   border-radius: 10px;
   width: 100%;
   max-width: 452px;
   box-shadow: 0 20px 40px 0 rgba(47, 47, 47, 0.2);
   background: $main-color;

   &__title,
   &__btn {
      margin-bottom: px_to_rem(24);
   }

   &__title-img {
      margin-right: 1rem;
   }

   &__description {
      margin-bottom: px_to_rem(24);
   }

   &__advantages {
      display: flex;
      flex-wrap: wrap;
      column-gap: px_to_rem(8);
      margin-bottom: px_to_rem(24);
   }

   &__advantage-item {
      border-radius: 8px;
      padding: px_to_rem(12);
      background: #fdf4db;
   }

   &__list {
      margin-bottom: px_to_rem(40);
   }
   &__list-item {
      display: flex;
      column-gap: 8px;

      &:not(:last-child) {
         margin-bottom: 1rem;
      }
   }

   &__btn {
      background-color: $bg-color_7;
      border-radius: 5px;
      padding: px_to_rem(13) px_to_rem(22);
      color: $text-color_2;
      width: 100%;
   }

   &__price {
      text-align: center;
      font-weight: 500;
      font-size: px_to_rem(14);
      color: $text-color_1;
   }

   @media screen and (min-width: 375px) {
      padding: px_to_rem(32) px_to_rem(24);
   }

   @media screen and (min-width: 992px) {
      padding: px_to_rem(48);
   }
}
