.tabs {
   display: flex;
   flex-wrap: wrap;

   @media screen and (min-width: 375px) {
      row-gap: 10px;
      column-gap: 8px;
   }

   @media screen and (min-width: 992px) {
      gap: 12px;
   }
}
