.title {
   color: $title-color;
   font-weight: 700;

   &_h1 {
      line-height: 100%;
   }

   @media screen and (min-width: 375px) {
      &_h1 {
         font-size: px_to_rem(50);
         letter-spacing: -0.01em;
      }

      &_h3 {
         font-size: px_to_rem(20);
      }
   }

   @media screen and (min-width: 992px) {
      &_h1 {
         font-size: px_to_rem(62);
         letter-spacing: -0.02em;
      }

      &_h3 {
         font-size: px_to_rem(27);
      }
   }
}
