@font-face {
   font-family: "Exo";
   src: url("../../fonts/Exo/Exo-Bold.woff2") format("woff2"),
      url("../../fonts/Exo/Exo-Bold.woff") format("woff"),
      url("../../fonts/Exo/Exo-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Open Sans";
   src: url("../../fonts/Open_sans/OpenSans-Bold.woff2") format("woff2"),
      url("../../fonts/Open_sans/OpenSans-Bold.woff") format("woff"),
      url("../../fonts/Open_sans/OpenSans-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Open Sans";
   src: url("../../fonts/Open_sans/OpenSans-SemiBold.woff2") format("woff2"),
      url("../../fonts/Open_sans/OpenSans-SemiBold.woff") format("woff"),
      url("../../fonts/Open_sans/OpenSans-SemiBold.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Open Sans";
   src: url("../../fonts/Open_sans/OpenSans-Regular.woff2") format("woff2"),
      url("../../fonts/Open_sans/OpenSans-Regular.woff") format("woff"),
      url("../../fonts/Open_sans/OpenSans-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
