/* COLORS */
$main-color: white;
$black: #10100e;
$list-items-color: black;
$title-color: $black;

$text-color_1: $black;
$text-color_1_opacity: rgb(16, 16, 14, 0.5);
$text-color_2: $main-color;

$description-color: black;

$bg-color_1: rgb(90, 88, 207);
$bg-color_1_opacity: rgba(90, 88, 207, 0.15);
$bg-color_2: rgb(64, 139, 252);
$bg-color_2_opacity: rgb(64, 139, 252, 0.15);
$bg-color_3: rgb(79, 98, 88);
$bg-color_3_opacity: rgb(79, 98, 88, 0.15);
$bg-color_4: rgb(249, 210, 112);
$bg-color_4_opacity: rgb(249, 210, 112, 0.15);
$bg-color_5: rgb(207, 109, 88);
$bg-color_5_opacity: rgb(207, 109, 88, 0.15);
$bg-color_6: rgb(246, 246, 246);
$bg-color_7: $black;
