.hero {
   &__title {
      margin-bottom: px_to_rem(24);
   }

   &__description {
      max-width: 531px;
   }

   &__image-desktope,
   &__image-mobile {
      width: 100%;
      height: 100%;

      > path {
         transition: all 0.2s ease;
      }
   }

   &__image-mobile {
      width: 100%;
      min-width: 375px;
      max-height: 508px;
      height: 100%;
   }

   &__decoration-img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
   }

   &__cards {
      position: relative;
      z-index: 1;
   }

   @media screen and (min-width: 375px) {
      padding: px_to_rem(80) 0 px_to_rem(60);

      &__scrolling-cards {
         position: relative;
         padding-top: 32px;
      }

      &__wrapper {
         display: flex;
         flex-direction: column;
         align-items: center;
         row-gap: px_to_rem(40);
      }

      &__description {
         margin-bottom: px_to_rem(32);
      }

      &__image-desktope {
         display: none;
      }

      &__cards {
         width: auto;
      }

      &__card {
         display: none;
         margin-left: auto;
         margin-right: auto;
      }

      &__card_active {
         display: block;
      }
   }

   @media screen and (min-width: 992px) {
      padding: 0;

      &__scrolling-cards {
         position: static;
         padding-top: 0;
      }

      &__heading,
      &__scrolling-cards {
         flex: 0 1 calc(100% / 2);
      }

      &__wrapper {
         align-items: flex-start;
         flex-direction: row;
         row-gap: 0;
      }

      &__heading {
         position: sticky;
         top: 28vh;
      }

      &__description {
         margin-bottom: px_to_rem(38);
      }

      &__decoration-img {
         position: fixed;
         top: 0;
         left: 50vw;
         z-index: -1;
         width: 100%;
         height: 100%;
         max-width: 720px;
         max-height: 834px;
         transform: none;
      }

      &__image-desktope {
         display: block;
      }

      &__image-mobile {
         display: none;
      }

      &__cards {
         padding-left: px_to_rem(20);
         margin-top: 21vh;
         margin-bottom: 19vh;
      }

      &__card {
         display: block;
         margin-left: auto;
         margin-right: unset;

         &:not(:last-child) {
            margin-bottom: px_to_rem(80);
         }
      }
   }

   @media screen and (min-width: 1200px) {
      &__cards {
         padding-right: px_to_rem(48);
         padding-left: 0;
      }
   }
}
