@import "./base/normalize";
@import "./base/reset.local";
@import "./base/fonts";
@import "./base/variables";
@import "./base/mixins";

body {
   font-family: "Montserrat";
   font-size: 16px;
}

html,
body {
   height: 100%;
   overflow-x: hidden;
}

.container {
   max-width: 1348px;
   margin: 0 auto;
   padding: 0 40px;
}

/* COMPONENTS */
@import "./components/title";
@import "./components/description";
@import "./components/tab";
@import "./components/tabs";
@import "./components/card";

/* BLOCKS */
@import "./blocks/hero";
